In [0]:
import pandas as pd
import seaborn as sns

# 0 한글 폰트

In [40]:
!wget "https://noto-website-2.storage.googleapis.com/pkgs/NotoSansCJKkr-hinted.zip"
!unzip "NotoSansCJKkr-hinted.zip"

--2020-03-08 12:41:30--  https://noto-website-2.storage.googleapis.com/pkgs/NotoSansCJKkr-hinted.zip
Resolving noto-website-2.storage.googleapis.com (noto-website-2.storage.googleapis.com)... 172.253.117.128, 2607:f8b0:400e:c0a::80
Connecting to noto-website-2.storage.googleapis.com (noto-website-2.storage.googleapis.com)|172.253.117.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 121163981 (116M) [application/zip]
Saving to: ‘NotoSansCJKkr-hinted.zip.1’

NotoSansCJKkr-hinte 100%[===================>] 115.55M  93.2MB/s    in 1.2s

2020-03-08 12:41:31 (93.2 MB/s) - ‘NotoSansCJKkr-hinted.zip.1’ saved [121163981/121163981]

Archive:  NotoSansCJKkr-hinted.zip
replace LICENSE_OFL.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: N
  inflating: NotoSansCJKkr-Medium.otf

In [0]:
!mv NotoSansCJKkr-Medium.otf /usr/share/fonts/truetype/

In [0]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

font_dirs = ['/usr/share/fonts/truetype']
font_files = fm.findSystemFonts(fontpaths=font_dirs)
font_list = fm.createFontList(font_files)
fm.fontManager.ttflist.extend(font_list)
plt.rcParams['font.family'] = "Noto Sans CJK KR"

## 1.1 데이터 로드

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
data_dir = "/content/drive/My Drive/" + "_data/data_dacon/temperature_forecasts/"

In [10]:
df = pd.read_csv(data_dir+'train.csv')
df.shape

(4752, 60)

In [11]:
df

        id   X00    X01  X02  X03  X04  ...   Y13  Y14  Y15  Y16  Y17   Y18
0        0   9.7  988.8  1.2  0.6  0.0  ...  10.0  9.5  9.0  8.0  9.0   NaN
1        1   9.3  988.9  1.7  1.9  0.0  ...  10.0  9.5  9.0  7.5  9.0   NaN
2        2   9.4  989.0  1.1  2.3  0.0  ...   9.5  9.5  8.5  7.5  8.5   NaN
3        3   9.4  988.9  1.5  0.7  0.0  ...   9.5  9.0  8.5  7.5  8.5   NaN
4        4   9.2  988.9  0.8  1.7  0.0  ...   9.5  9.0  8.5  7.5  8.5   NaN
...    ...   ...    ...  ...  ...  ...  ...   ...  ...  ...  ...  ...   ...
4747  4747  19.9  987.6  0.9  0.8  0.0  ...   NaN  NaN  NaN  NaN  NaN  21.5
4748  4748  19.9  987.6  0.5  0.7  0.0  ...   NaN  NaN  NaN  NaN  NaN  21.5
4749  4749  19.7  987.7  0.9  0.6  0.0  ...   NaN  NaN  NaN  NaN  NaN  21.5
4750  4750  19.4  987.7  0.9  0.8  0.0  ...   NaN  NaN  NaN  NaN  NaN  21.5
4751  4751  19.1  987.6  1.0  0.3  0.0  ...   NaN  NaN  NaN  NaN  NaN  21.0

[4752 rows x 60 columns]

In [38]:
!git clone 'https://YunjinPark:gvlsk958@github.com/YunjinPark/dacon_temperature_forecasts.git'
# git clone https://username:password@github.com/username/repository.git

Cloning into 'dacon_temperature_forecasts'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 3 (delta 0), reused 3 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.